<?xml version="1.0" encoding="utf-8"?>
<configuration> 
 <system.webServer>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
        </httpErrors>
  </system.webServer>
  <system.web>
	<customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/ErrorPages/DefaultError.html">
            <error statusCode="404" redirect="~/ErrorPages/404.html" />
            <error statusCode="500" redirect="~/ErrorPages/500.html" />
        </customErrors>
  </system.web>
</configuration>
<!--
This solution works on IIS 10+ version and allows to remove x-powered-by and server headers in server response.
-->